<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}

    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/styles.css">
    <!--endbuild-->
    <title>Home</title>
</head>
<body>
    {{>header title='Index'}}
     
    <h2>Welcome to my homepage</h2>

    <!--build:js js/main.min.js -->
    <script src="./Js/index.js"></script>
    <!-- endbuild -->

</body>
</html>